:root {
  --bg: rgb(255, 255, 255);
  --light: rgb(213, 213, 213);
  --text: rgb(24, 24, 24);
  --headerWidth: 150px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  margin: 0;
  display: flex;
}

button {
  cursor: pointer;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}

/* HEADER */
header {
  width: var(--headerWidth);
  background-color: var(--light);
  padding: 5% 0;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
header nav a {
  color: var(--text);
  background-color: var(--bg);
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
header nav a.current {
  color: var(--bg);
  background-color: var(--text);
}
header nav i {
  font-size: 25px;
}

/* MAIN CONTENT */
main {
  width: calc(100% - var(--headerWidth));
  padding: 2%;
}

.wrapFrame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.frame {
  width: 100%;
  height: 300px;
}

.frame div {
  display: flex;
  padding: 20px;
}

.frame div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

form {
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wrapSubmit {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CAMERA */
.wrapCamera {
  display: flex;
  gap: 20px;
}

.wrapCamera div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}
.wrapCamera select {
  width: 80px;
  height: 100px;
}
.camera {
  display: flex;
  border-style: solid;
}